exportPattern("^[[:alpha:]]+")
importFrom("graphics", "rug")
importFrom("stats", "formula", "glm", "median", "pt", "quantile", "rbinom", "rnorm", "runif", "sd", "update", "vcov")
S3method("data_summary", "data.frame")
S3method("data_summary", "grouped_df")
S3method("data_summary", "numeric")
S3method("data_summary", "logical")
S3method("data_summary", "character")
S3method("data_summary", "factor")
S3method(".get_summary", "numeric")
S3method(".get_summary", "logical")
S3method(".get_summary", "character")
S3method(".get_summary", "factor")
S3method("model_summary", "mod_vcov")
S3method("model_summary", "lm")
S3method("model_summary", "glm")
S3method("model_summary", "lmerMod")
S3method("model_summary", "glmerMod")
S3method("print", "model_summary")
S3method("print", "model_randfe")
S3method("model_vcov", "lm")
S3method("model_vcov", "glm")
S3method("modular_models", "param_glm")
S3method("modular_models", "param_glmer")
S3method("plot_interaction", "mod_vcov")
S3method("plot_interaction", "lm")
S3method("plot_interaction", "glm")
S3method("plot_interaction", "lmerMod")
S3method("plot_interaction", "glmerMod")
