exportPattern("^[[:alpha:]]+")
importFrom("graphics", "rug")
importFrom("stats", "formula", "glm", "pt", "vcov", "rbinom", "rnorm")
S3method("get_p", "glm")
S3method("get_p", "lm")
S3method("get_p", "glmerMod")
S3method("get_p", "lmerMod")
S3method("plot_model", "glm")
S3method("plot_model", "lm")
S3method("plot_model", "glmerMod")
S3method("plot_model", "lmerMod")
S3method("report", "modular_glm")
S3method("report", "modular_glmer")
